
#canvas{

	position:absolute;
	top:100;
	left:100;
	border:8px solid;
	width: 280px;
	height: 280px;

}

#canvasimg {

	position: absolute;
	top:10%;
	left:52%;
	width: 280px;
	height: 280px;
	display:none;
}

#classify_button {

	position:absolute;
	top: 400px;
	left: 100px;
	size: 48px;

}

#clear_button {

	position:absolute;
	top: 400px;
	left: 180px;
	size: 23px;

}